<link rel="stylesheet" href="style.css">
<script src="https://unpkg.com/vue"></script>
<div id="desafio">
    <h2>#01</h2>
    <div>
        <button @click="expressao = !expressao">Alternar</button>
        <p v-if="expressao">Voce quer me ver ...</p>
        <p v-else> ... ou eu</p>
        <p v-show="expressao">Voce quer me ver ...</p>
        <p v-show="!expressao"> ... ou eu</p>
    </div>

    <h2>#02</h2>
    <ul>
        <li v-for="(nome, i) in nomes" > {{nome}} - {{ i }} </li>
    </ul>
    
    <h2>#03</h2>
    <ul>
        <li v-for="(valor, chave, indice) in livro">{{chave}} : {{valor}} - {{indice + 1}}</li>
    </ul>
    
    <h2>#04</h2>
    <ul>
        <li v-for="valor in aluno">
        <template v-if="!Array.isArray(valor)">
            {{valor}}
        </template>
        <template v-else>
            Notas:
            <ul>
                <li v-for="nota in valor">{{ nota }}</li>
            </ul>
        </template>
        </li>
    </ul>    
</div>
<script src="app.js"></script>